body {
    margin: 0;
    background: linear-gradient(rgba(48, 0, 96, 1), rgba(99, 0, 198, 1));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Inter', sans-serif;
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Style for the header inside the sidebar */
.sidebar-header {
    padding: 20px 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px; 
    display: flex;
    align-items: center;
}

/* Style for the icon in the header */
.header-icon {
    background-color: #6300c6; /* Purple background */
    color: white; /* White arrow */
    border-radius: 6px; /* Rounded corners */
    padding: 4px; /* Space inside the box */
    margin-right: 12px; /* Space between icon and name */
    display: inline-flex; 
    align-items: center;
    justify-content: center;
}

/* Sidebar links */
.sidebar a {
    display: flex; 
    align-items: center; 
    color: black;
    padding: 16px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

/* Style for the icons in nav links */
.sidebar a .material-symbols-outlined {
    margin-right: 16px;
}

/* Active/current link */
.sidebar a.active {
    background-color: #6300c6;
    color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #e0e0e0;
    color: black;
}

/* Page content */
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
    color: white; 
    padding-left: 40px;
    position: relative; /* This is needed to position the avatar inside it */
}

/* Style for the avatar image */
.avatar {
    position: absolute; /* Position relative to the .content div */
    top: 40px;
    right: 60px;
    width: 100px; 
    height: 100px; 
    border-radius: 50%; /* This makes the image circular */
    border: 3px solid #f1f1f1; 
}


/* Media Queries */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        flex-direction: row;
        border-radius: 0;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar, .sidebar a {
        float: none;
        text-align: center;
        justify-content: center;
    }
    .sidebar {
        flex-direction: column;
    }
}